**Introduction To Databases in Python**

# Census case study

## Setup the engine and Metadata
In this exercise, my job is to create an engine to the database that will be used in this project. Then, I need to initialize its metadata.

In [1]:
# Import all from sqlalchemy
from sqlalchemy import *
import csv

In [2]:
# Define an engine to connect to chapter5.sqlite: engine
engine = create_engine('sqlite:///chapter5.sqlite')

# Create a connection on engine
connection = engine.connect()

# Initialize MetaData: metadata
metadata = MetaData()

## Create the table to the database
Having setup the engine and initialized the metadata, I will now define the census table object and then create it in the database using the metadata and engine from the previous exercise. To create it in the database, I will have to use the .create_all() method on the metadata with engine as the argument.

In [3]:
# Build a census table: census
census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008', Integer()))

# Create the table in the database
metadata.create_all(engine)

When creating columns of type String(), it's important to spend some time thinking about what their maximum lengths should be.

# Populating the database

## Reading the data from the CSV
Leverage the Python CSV module from the standard library and load the data into a list of dictionaries.

In [4]:
file = open('census.csv')
csv_reader = csv.reader(file)
# Create an empty list: values_list
values_list = []

# Iterate over the rows
for row in csv_reader:
    # Create a dictionary with the values
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
            'pop2008': row[4]}
    # Append the dictionary to the values list
    values_list.append(data)

## Load data from a list into the Table
Using the multiple insert pattern, in this exercise, you will load the data from values_list into the table.

In [5]:
# Build insert statement: stmt
stmt = insert(census)

# Use values_list to insert data: results

results = connection.execute(stmt, values_list)
# Print rowcount
print(results.rowcount)

8772

# Querying the database

## Determine the average age by population
 To calculate a weighted average, I will first find the total sum of weights multiplied by the values I'm averaging, then divide by the sum of all the weights.

For example, if I wanted to find a weighted average of data = [10, 30, 50] weighted by weights = [2,4,6], we would compute 
 
, or sum(weights * data) / sum(weights).

In this exercise, however, I will make use of **func.sum()** together with select to **select** the weighted average of a column from a table. I will still work with the census data, and I will compute the average of age weighted by state population in the year 2000, and then group this weighted average by sex.

In [6]:
# Select sex and average age weighted by 2000 population
stmt = select([(func.sum(census.columns.pop2000 * census.columns.age) 
  					/ func.sum(census.columns.pop2000)).label('average_age'),
               census.columns.sex
			  ])

# Group by sex
stmt = stmt.group_by(census.columns.sex)

# Execute the query and fetch all the results
results = connection.execute(stmt).fetchall()

# Print the sex and average age column for each result
for record in results:
    print(record.sex, record.average_age)

F 37
M 34

## Determine the percentage of population by gender and state
In this exercise, I will write a query to determine the percentage of the population in 2000 that comprised of women. I will group this query by state.

In [7]:
# Build a query to calculate the percentage of women in 2000: stmt
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
        ], else_=0)) /
     cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
])

# Group By state
stmt = stmt.group_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the percentage
for result in results:
    print(result.state, result.percent_female)

Alabama 51.832407770179465
Alaska 49.301497893484594
Arizona 50.22361303057914
Arkansas 51.26992846221834
California 50.35233214901979
Colorado 49.84767060299562
Connecticut 51.66816507130644
Delaware 51.61109733558627
District of Columbia 53.129626141738385
Florida 51.36488001165242
Georgia 51.11408350339436
Hawaii 51.118011836915514
Idaho 49.98972623903102
Illinois 51.11224234802867
Indiana 50.95480313297678
Iowa 50.950398342534264
Kansas 50.821864107754735
Kentucky 51.32687036927168
Louisiana 51.75351596554121
Maine 51.50570813418951
Maryland 51.93575549972231
Massachusetts 51.843023571316785
Michigan 50.97246518318712
Minnesota 50.49332944301148
Mississippi 51.92229481794672
Missouri 51.46888602639692
Montana 50.32202690728538
Nebraska 50.8584549336086
Nevada 49.36736361384359
New Hampshire 50.858019844961746
New Jersey 51.51713956125773
New Mexico 51.0471720798335
New York 51.83453865150073
North Carolina 51.482262322084594
North Dakota 50.50069363231332
Ohio 51.46550350015544
Oklahoma 51.11362457075227
Oregon 50.4294670361772
Pennsylvania 51.74043473051053
Rhode Island 52.07343391902215
South Carolina 51.73072129765755
South Dakota 50.52583581373275
Tennessee 51.430689699449275
Texas 50.515721664207966
Utah 49.97295275106927
Vermont 51.018573209949466
Virginia 51.657252447241795
Washington 50.518565087218334
West Virginia 51.40042318092286
Wisconsin 50.61486452653393
Wyoming 49.94595542648306

Interestingly, the District of Rhode Island had the highest percentage of women in 2000, while Alaska had the highest percentage of males.

## Determine the difference by state from the 2000 and 2008 censuses
In this final exercise, I will write a query to calculate the states that changed the most in population. I will limit my query to display only the top 10 states.

In [8]:
# Build query to return state name and population difference from 2008 to 2000
stmt = select([census.columns.state,
     (census.columns.pop2008-census.columns.pop2000).label('pop_change')
])

# Group by State
stmt = stmt.group_by(census.columns.state)

# Order by Population Change
stmt = stmt.order_by(desc('pop_change'))

# Limit to top 10
stmt = stmt.limit(10)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357
North Carolina:11574
Virginia:6639
Colorado:6425
Utah:5934
Illinois:5412

It looks like the state that grew the least in population between 2000 and 2008 was Illinois.